[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack.git
[submodule "hugo-theme-stack/"]
	url = git@github.com:vincentthh35/fork-hugo-theme-stack.git
