// @import 'breakpoints.scss';

.container {
    margin-left: auto;
    margin-right: auto;

    &.extended {
        @media (min-width: map-get($breakpoints, "sm")) {
            max-width: 90vw;
        }

        @media (min-width: map-get($breakpoints, 'md')) {
            max-width: 90vw;

            .left-sidebar {
                width: 22%;
            }
        }

        @media (min-width: map-get($breakpoints, 'lg')) {
            max-width: 90vw;

            .left-sidebar {
                width: 15%;
            }

            .right-sidebar {
                width: 15%;
            }
        }

        @media (min-width: map-get($breakpoints, 'xl')) {
            max-width: 90vw;

            .left-sidebar {
                width: 12%;
            }
            .right-sidebar {
                width: 15%;
            }
        }
    }
}

code.has-jax {
    -webkit-font-smoothing: antialiased;
    background: inherit !important;
    border: none !important;
    font-size: 100%;
}

@mixin respond-below($breakpoint) {
    @if not map-has-key($breakpoints, $breakpoint) {
        @warn "'#{$breakpoint}' is not a valid breakpoint";
    } @else {
        @media (max-width: (map-get($breakpoints, $breakpoint) - 1)) {
            @content;
        }
    }
}

.site-meta, .site-avatar, .social-menu, .site-name, .site-description {
    @include respond-below(md) {
        margin: auto !important;
    }
}
.site-name, .site-description {
    @include respond-below(md) {
        text-align: center;
    }
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 25px;
    height: 1.3px;
}

pre > code {
    font-family: "Hack", monospace;
    font-size: smaller;
}